#dash_core_components==1.13.0
#dash_html_components==1.1.1
#dash_renderer==1.8.3
#django>=2.0,<3.2
#dash_flow_example==0.0.5
#dash-dangerously-set-inner-html
selenium>=3.14.1
tox>=3.5.3
plotly>=4.14.1
pytest-django>=3.4.3
flake8>=3.5.0
pylint==2.17.2;python_version<"3.7"
pylint==2.3.1;python_version=="3.7"
pylint==2.10.1;python_version>="3.8"
astroid==2.2.5;python_version=="3.7"
astroid==2.7.2;python_version>="3.8"
mock
fire
coloredlogs
PyYAML>=5.1.1
